.promo-block{background-color:rgba(0,0,0,0.5);}
.header .logo{width:350px;}
.header .logo img{width:100%;margin-top:-17px;}
.cv{text-align:right;}
.cv a button{background-color:#17bed2;border:none;color:#fff;}
.cv a button span{color:#fff;}
.cv a:hover button, .cv a:hover button span{background-color:#fff;color:#17bed2;}
.cv p{font-size:17px;color:#fff;text-align:right;padding-top:80px;}

/*Portfolio*/

.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}
/*End*/


